@import './function.scss';

@import url('https://fonts.googleapis.com/css?family=Lato|Lora');

.purple-blue {
  color : #5677d0;
}

.pv012{
  padding-top: rem(12);
  padding-bottom: rem(12);
}

.bg-n-white{
  background: #fafafc;
}
